.transition {
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

button{
    background-color: var(--blanco) !important;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover{
    background-color: var(--gris);
}

p{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blanco);
}