<footer class="footer">
  <div class="container">
    <!-- Columnas principales -->
    <div class="contenedor-footer row text-center">
      <!-- Logo -->
      <div class="col-12 col-sm-3 mb-3 mb-sm-0 d-flex flex-column d-sm-block">
        <img routerLink="/inicio" src="assets/general/logo-pets.webp" alt="Logo" class="me-2 logo-footer">
        <span routerLink="/inicio" class="brand-footer">Pets Secretz</span>
      </div>

      <!-- Información de contacto -->
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <p class="title-footer">Información de Contacto</p>
        <ul class="list-unstyled">
          <li>Dirección: Q Oconor 15012, San Juan de Lurigancho 15442</li>
          <li>Teléfono: 123-456-7890</li>
          <li>Email: baristas&#64;support.com</li>
        </ul>
      </div>

      <!-- Información -->
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <p class="title-footer">Información</p>
        <ul class="list-unstyled">
          <li><a routerLink="/nosotros">Acerca de Nosotros</a></li>
          <li><a routerLink="/adopcion">Acerca de Adopciones</a></li>
          <li><a routerLink="/contacto">Contáctanos</a></li>
        </ul>
      </div>

      <!-- Redes sociales -->
      <div class="col-12 col-md-3">
        <p class="title-footer">Redes Sociales</p>
        <ul class="list-unstyled d-flex gap-3 d-flex justify-content-center align-items-center">
          <li>
            <a href="https://www.facebook.com/PETSECRETSOFICIALJICAMARCA" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/petsecretsoficial/" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="m-0">

    <!-- Fila inferior -->
    <div class="row mt-3  d-flex align-items-center text-center ">
      <p class="mb-0">&copy; 2025 PetsSecretz. Todos los derechos reservados.</p>
      <img src="assets/general/tarjetas.webp" alt="Métodos de pago" class="tarjetas">
    </div>
  </div>
</footer>