<div>
    <app-banner></app-banner>

    <section class="py-5 bg-light  container" id="bienvenidos">
        <div class="contenido-seccion container text-center">
            <h2 class="mb-4 fw-bold ">
                BIENVENIDOS A NUESTRA VETERINARIA
            </h2>
            <div class="row justify-content-center ">
                <div class="col-lg-8 col-md-10">
                    <p class="lead">
                        Somos una veterinaria comprometida con el bienestar de los animales, especialmente aquellos que
                        se encuentran en situación de vulnerabilidad. Nos especializamos en rescatar animalitos
                        abandonados, ofreciéndoles atención médica, cuidados y un hogar temporal lleno de amor.
                        Además de nuestra labor de rescate, ofrecemos una variedad de productos de calidad para el
                        cuidado de las mascotas, incluyendo alimentos, accesorios, medicamentos y juguetes. En nuestra
                        veterinaria, no solo nos preocupamos por la salud y el bienestar de los animales que rescatamos,
                        sino también por aquellos que ya tienen un hogar, brindando soluciones y productos que promuevan
                        su felicidad y bienestar.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <app-card-gallery [items]="servicios" [title]="title"></app-card-gallery>
    <app-carrusel></app-carrusel>

    <section class="py-5 container" id="conocer">
        <div class="container">
            <div class="row align-items-center contenido-seccion ">
                <div class="col-lg-6 text-center text-lg-start mb-4 mb-lg-0 ps-lg-5 pb-lg-5">
                    <h2>¡Conócenos!</h2>
                    <p>
                        En Pets Secrets llevamos años de experiencia en el sector veterinario. Somos una clínica
                        veterinaria referente gracias a
                        nuestro amplio catálogo de servicios veterinarios para perros y gatos. En nuestra clínica
                        veterinaria ofrecemos una atención
                        cercana a todos nuestros clientes y sus mascotas. Todos nuestros veterinarios cuentan con la
                        formación y experiencia para informar
                        con total claridad acerca de su mascota. Trabajamos para garantizar un buen análisis clínico,
                        diagnosticando correctamente
                        a nuestros pacientes y finalmente, resolviendo cualquier tipo de dolencia. En Clínica
                        Veterinaria Pets Secrets utilizamos la mejor
                        maquinaria para trabajar en nuestro día a día.
                    </p>
                    <button routerLink="/contacto" class="btn boton">Contáctanos</button>
                </div>
                <div class="col-lg-6 text-center">
                    <img routerLink="/contacto" src="assets/general/gato.webp" alt="Conócenos - imagen mascota"
                        class="img-fluid" loading="lazy">
                </div>
            </div>
        </div>
    </section>

    <section class="text-center py-5" id="comentario">
        <h1>Comentarios</h1>
        <div class="container contenido-seccion mt-5">
            <h2 class="py-5">Opiniones de Nuestros Clientes</h2>
            <app-comentarios></app-comentarios>
        </div>
    </section>

</div>