.icono{
    color: var(--azul);
    font-size: 25px;
    transition: color 0.3s;

    &:hover {
    color: var(--azul-claro);
    }
}

.iconos{
    color: var(--blanco);
    font-size: 25px;
    transition: color 0.3s;

    &:hover {
    color: var(--azul-claro);
    }
}

a{
    text-decoration: none;
}