:root{
    --gris: #eee;
    --negro: #000;
    --blanco: #fff;
    --azul: #1A4E8D;
    --plomo: #e5e5e5;
    --verde:  #4CAF50;
    --celeste: #8fddff;
    --azul-claro: #2B78E4;
    --azul-oscuro: #042c52;
    --gris-oscuro: #767676;
    --gris-claro: #f8f9fa;
}
