header {
    background: var(--blanco);
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

    .contenedor {
        max-width: 100vw;

        .logo {
            width: 15%;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        span {
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

.brand {
    cursor: initial;

    .titulo:hover {
        color: var(--blanco);
        background-color: var(--azul);
        border-radius: 10px;
        padding: 3px;
    }
}

.contenedor .brand {
    text-decoration: none;
    color: var(--azul);
}

.btn-close {
    margin-right: 1rem;
}

.menu {
    li a {
        color: var(--azul);
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 4px;
        transition: background 0.3s, color 0.3s;

        &:hover {
            background-color: var(--azul);
            color: var(--blanco);
        }
    }
}

.nav-link.active {
    color: var(--blanco) !important;
    background-color: var(--azul-oscuro) !important;
}

/*  para mobiles */
.contenedor-mobile {
    background-color: var(--azul);

    .brand {
        text-decoration: none;
        color: var(--blanco);

        .logo {
            width: 15%;
            margin-right: 0.5rem;
            filter: invert(100%) brightness(1000%);
        }

        .span {
            font-weight: 700;
            font-size: 1.5rem;
            color: var(--blanco);
        }

    }

    .nav {
        flex-direction: column;
        align-items: center;

        .nav-item {
            margin: 1rem 0;

            .nav-link {
                color: var(--blanco);
                font-weight: 600;

                &:hover {
                    color: var(--blanco);
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .nav-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .menu {
        li a {
            font-size: 1rem;
        }
    }
}


@media (max-width: 768px) {
    .contenedor .brand .logo {
        width: 10%;
    }

    .contenedor .brand span {
        font-size: 1.2rem;
    }

    .menu li a,
    .contenedor-logo {
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
    }


    .offcanvas-header {
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    }

    .menu-mobile {
        width: 100%;
        height: 80%;

        .nav-item {
            width: 100%;
            box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);

            a {
                padding: 0;
                height: 12vh;
                place-content: center;
            }

            &:hover {
                background-color: var(--azul-claro);
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        background: var(--azul);

        .brand {
            span {
                color: var(--blanco);

                &:hover {
                    color: var(--azul-claro);
                }
            }

            img {
                filter: brightness(0) invert(1);

                &:hover {
                    filter: brightness(0) invert(0.7);
                }
            }
        }

    }


}