<header class="py-3 px-0 py-md-1" id="enlaces-inicio">
    <div class="contenedor container d-flex align-items-center flex-md-wrap py-2">

        <div class="brand d-flex align-items-center me-auto">
            <img routerLink="inicio" src="assets/general/logo-pets.webp" class="logo me-2">
            <span routerLink="inicio" class="titulo h5 mb-0">Pets Secretz</span>
        </div>

        <nav class="menu d-none d-md-flex position-absolute start-50 translate-middle-x">
            <ul class="nav">
                <li *ngFor="let item of menuItems" class="nav-item px-3">
                    <a class="nav-link" [routerLink]="item.route" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: item.exact || false }">{{ item.label }}</a>
                </li>
            </ul>
        </nav>

        <div class="d-none d-md-flex align-items-center me-4">
            <a routerLink="/carrito" class="me-4" title="Carrito"><i class="icono fa fa-shopping-cart fa-lg"></i></a>
            <ng-container *ngIf="!logueado">
                <a routerLink="/login" title="Mi cuenta"><i class="icono fa fa-user fa-lg"></i></a>
            </ng-container>
            <ng-container *ngIf="logueado">
                <a routerLink="/usuario" class="me-2" title="Perfil"><i class="icono fa fa-user-circle fa-lg"></i>
                    {{nombreUsuario }}</a>
                <button class="btn btn-outline-danger btn-sm ms-2" (click)="cerrarSesion()">Cerrar sesión</button>
            </ng-container>
        </div>

        <button class="d-md-none btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuMobile"
            aria-controls="menuMobile">
            <i class="iconos fa fa-bars fa-lg"></i>
        </button>
        <!-- para mobiles -->

        <div class="contenedor-mobile offcanvas offcanvas-start " tabindex="-1" id="menuMobile"
            aria-labelledby="menuMobileLabel">
            <div class="brand offcanvas-header">
                <div routerLink="inicio" class="contenedor-logo d-flex align-items-center me-auto">
                    <img routerLink="/inicio" src="assets/general/logo-pets.webp" class="logo me-2">
                    <span routerLink="/inicio" class="span h5 mb-0 ">Pets Secretz</span>
                </div>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
                <ul class="menu-mobile nav flex-column mb-2 text-center d-md-none">
                    <li *ngFor="let item of menuItems" class="nav-item m-0">
                        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: item.exact || false }"> {{ item.label }}</a>
                    </li>
                </ul>

                <div class="d-flex gap-3 m-3 justify-content-evenly">
                    <a routerLink="/carrito" title="Carrito"><i class="iconos fa fa-shopping-cart fa-lg"></i></a>
                    <ng-container *ngIf="!logueado">
                        <a routerLink="/login" title="Mi cuenta"><i class="iconos fa fa-user fa-lg"></i></a>
                    </ng-container>
                    <ng-container *ngIf="logueado">
                        <a routerLink="/perfil" title="Perfil"><i class="iconos fa fa-user-circle fa-lg"></i> {{
                            nombreUsuario }}</a>
                        <button class="btn btn-outline-danger btn-sm ms-2" (click)="cerrarSesion()">Cerrar
                            sesión</button>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</header>